<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bootstrap  购物车</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" >
  <style>[v-cloak]{
    display: none;
  }
 </style>
</head>
<body>
<div id="app" v-cloak>
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>书籍名称</th>
          <th>初版日期</th>
          <th>价格</th>
          <th>购买数量</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in tableData" :key = "index">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.date}}</td>
          <td>{{item.price | getFinalPrice}}</td>
          <td> 
            <button id="milus" @click="decreament(index)">-</button>
            {{item.number}}
            <button id="plus" @click="increament(index)">+</button>
          </td>
          <td><button class="btn btn-danger btn-sm" @click="handleDelete(index)">移除</button></td>
        </tr>
      </tbody>
    </table>
    <div class="row"><h3 v-if="tableData.length">总金额:{{totalPrice | getFinalPrice}}</h3><h3 v-else>购物车为空</h3></div>
  </div>


</div>
  <!-- import Vue before Element -->
  <script src="https://cdn.bootcss.com/vue/2.6.11/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script>
  const app = new Vue({
    el:'#app',
    data() {
        return { 
          tableData: [{
          id:1,
          name: '王小虎是个什么鬼啊大大说',
          date: '2016-05-02',
          price:43,
          number: 50, 
        },{
          id:2,
          name: '王小个什么鬼',
          date: '2016-05-02',
          price:33,
          number: 10, 
        },{
          id:3,
          name: '王小虎是么鬼',
          date: '2016-05-02',
          price:33,
          number: 30, 
        },{
          id:4,
          name: '王小虎是个什么鬼',
          date: '2016-05-02',
          price:55,
          number: 100, 
        }],
        
      }
      },
    methods:{
      increament(index){
        if(this.tableData[index].number < 100)
        {
        this.tableData[index].number ++;
        }
      },
      decreament(index){
        if(this.tableData[index].number > 0)
        {
        this.tableData[index].number --;
        }
      },
      handleDelete(index) {
        this.tableData.splice(index,1);
      },
    },
    computed:{
      totalPrice(){
        let total = 0 ;
        for(let i = 0; i < this.tableData.length; i++){
        total += this.tableData[i].price * this.tableData[i].number;
      }return total; }
    },
    filters:{
      getFinalPrice(price){
        return "$" + price.toFixed(2);
      },
    }
    })
</script>
</body>
</html>